
<br><br>
<div class="container text-center" id="hero">
    <div class="row">
        <div class="col-12">
            <h4>Stay in SafeZone for the rest of your life!</h4>
            <br>
            <button class="btn btn-custom">Getting Start</button>
        </div>
    </div>
</div>

<br><br>

<div class="container" id="features">
    <div class="row">
      <div class="col feature-block text-center">
        <h4>Password level review</h4>
      </div>
      <div class="col feature-block text-center">
        <h4>Connect with other apps</h4>
      </div>
      <div class="col feature-block text-center">
        <h4>Time-based reminder</h4>
      </div>
    </div>
</div>
